<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.p2p.mapper.ServiceUserMapper">
		<resultMap type="com.p2p.pojo.ServiceUser" id="BaseResultMap">
			<id column="su_id" property="suid"/>
			<result column="su_username" property="suusername"/>
			<result column="su_name" property="suname"/>
			<result column="su_phone" property="suphone"/>
			<result column="su_card" property="sucard"/>
			<result column="su_email" property="suemail"/>
			<result column="su_bankcard" property="subankcard"/>
			<result column="su_banktype" property="subanktype"/>
			<result column="su_money" property="sumoeny"/>
			<result column="su_credit" property="sucredit"/>
			<result column="su_ip" property="suip"/>
			<result column="su_password" property="supassword"/>
		</resultMap>
		
		<sql id="sericeusersql">
			su_username,su_name,su_phone,su_card,su_email,su_bankcard,su_banktype,su_password,
			su_money,su_ip,su_credit
		</sql>
		
		<!-- 查询 -->
		<select id="list" resultMap="BaseResultMap">
			select * from serviceUser
			
		</select>
	</mapper>